html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1060px;
}

/* margin-bot for all el-breadcrumb */
.el-breadcrumb{
    margin-bottom: 20px;
}

/* margin-top for all el-table */
.el-table{
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination{
    margin-top: 15px;
}